button {
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: 2px solid rgb(14, 4, 4);
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

.button-click {
    background-color: blue;
}

.button-repeat {
    background-color: red;
}